.card-header h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #008276;
  border-color: #008276 transparent #008276 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.notification {
  font-size: 38px;
}
.notification.success {
  color: #008276;
}
.notification.error {
  color: #7f231c;
}
.form-control {
  padding: 10px;
}
.server-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#qrcode img {
  margin: auto;
}
footer {
  font-size: 12px;
}
.footer-badge {
  height: 13px;
}
.navbar-dark i {
  color: white;
}
.attendance-url {
  font-size: 14px;
}
.card-body {
  text-align: center;
}
button.text-muted {
  text-decoration: line-through;
}
.upcoming-class {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.student-info, .student-assessment {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sa-row {
  display: flex;
  padding: 5px 10px;
}
.sa-col {
  flex: 1;
}
#forget-xname {
  height: 100%;
  display: none;
}
@media screen and (min-width: 480px) {
  .attendance-url {
    font-size: 18px;
  }
}
@media screen and (min-width: 510px) {
  .result {
    display: flex;
  }
  .sa-col {
    text-align: right;
  }
}
@media screen and (min-width: 720px) {
  .attendance-url {
    font-size: 20px;
  }
}
@media screen and (min-width: 840px) {
  .attendance-url {
    font-size: 24px;
  }
}
.far, .fas {
  font-size: 32px;
}